/*fondo*/

header {
    position: relative;
    float: left;
    width: 96vw;
    height: auto;
    background-color: rgba(246, 241, 235, 0.555);
    border: 3px dotted rgb(0, 0, 0);
    box-sizing: border-box;
    margin-left: 1vw;
    margin-top: 2vw;
    border-radius: 4vw 0vw 4vw 0vw;
}


/*logo*/

#logo {
    position: relative;
    float: left;
    width: 24vw;
    height: auto;
    margin: 3vw 1.2vw 1vw 0vw;
}

#logo>img {
    width: 24vw;
}


/*titulo*/

#titulo {
    position: relative;
    width: 70%;
    float: left;
    margin-top: 2vw;
    text-align: center;
}

#titulo>p:first-child {
    text-transform: capitalize;
    font-family: tituloH;
    font-size: 20vw;
    color: #FFE939;
    text-shadow: 1vw 1vw 1vw black;
}

#busqueda {
    display: none;
    position: relative;
    float: left;
}


/*fuente del titulo general*/

@font-face {
    font-family: tituloH;
    src: url(../fuentes/HARRYP__.TTF);
}

@font-face {
    font-family: how;
    src: url(../fuentes/Hogwwb__.TTF);
}

@media all and (min-width: 768px) {
    /* Estilos para anchos
    superiores a 768px */
    header {
        margin-left: 1.2vw;
        width: 97vw;
    }
    #logo {
        width: 21vw;
        height: auto;
        margin: 3vw -0.5vw 3vw 0vw;
    }
    #logo>img {
        width: 20vw;
        height: auto;
    }
    #titulo {
        width: 52%;
        margin-top: 5vw;
        margin-right: 2vw;
    }
    #titulo>p:first-child {
        text-transform: capitalize;
        font-family: tituloH;
        font-size: 15vw;
        color: #FFE939;
        text-shadow: 1vw 1vw 1vw black;
    }
    /*estilo de la busqueda*/
    #busqueda {
        display: block;
        width: 21vw;
        margin: 10vw 0vw 0vw 0.5vw;
    }
    #busqueda>form>button {
        position: relative;
        float: right;
        width: 5vw;
        height: 5vw;
        background-color: rgba(255, 232, 57, 0.192);
        border-radius: 2vw;
    }
    #busqueda>form>button>img {
        width: 3vw;
    }
    #busqueda>form>input {
        width: 15vw;
        height: 5vw;
        border-radius: 2vw;
        background-color: rgba(255, 248, 191, 0.445);
    }
}

@media all and (min-width: 1024px) {
    #logo {
        width: 18vw;
        height: auto;
        margin: 1vw 0.5vw 1vw 0.5vw;
    }
    #logo>img {
        width: 16vw;
        height: auto;
    }
    #titulo {
        width: 51vw;
        margin-top: 0vw;
        margin-right: 0vw;
    }
    #titulo>p:first-child {
        font-size: 15vw;
    }
    #busqueda {
        width: 24vw;
        margin: 6vw 0vw 0vw 1.5vw;
    }
    #busqueda>form>button {
        width: 5vw;
        height: 5vw;
        background-color: rgba(255, 232, 57, 0.192);
        border-radius: 2vw;
    }
    #busqueda>form>button>img {
        width: 3vw;
    }
    #busqueda>form>input {
        width: 18vw;
        height: 5vw;
        border-radius: 2vw;
        background-color: rgba(255, 248, 191, 0.445);
    }
}