#fondoGeneral {
    position: relative;
    float: left;
}


/*empieza la seccion*/

section {
    position: relative;
    float: left;
    background-color: rgba(246, 241, 235, 0.555);
    width: 96vw;
    height: auto;
    border: 3px dotted rgb(0, 0, 0);
    box-sizing: border-box;
    margin-left: 1vw;
    margin-top: 2vh;
}

article {
    position: relative;
    float: left;
    width: 96vw;
}


/*estilo del texto*/

#texto {
    position: relative;
    float: left;
    font-family: letraCuerpo;
    width: 90vw;
    text-align: justify;
    text-indent: 2vw;
    line-height: 5vh;
    word-wrap: break-word;
    padding: 2.5vh 3.5vw 0vw 2.5vw;
    font-size: 3vh;
}


/*galeria de imagenes*/

#galeria {
    position: relative;
    float: left;
    width: 90vw;
    height: 85vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
    background-color: rgb(0, 0, 0);
}

#galeria>img {
    width: 47vw;
    margin-left: 20vw;
    margin-top: 4.1vw;
}


/*Hola amigos del texto*/

#texto>span {
    font-family: how;
    font-size: 6vh;
}

#texto>p::first-letter {
    font-family: how;
    font-size: 6vh;
}

#texto>cite:lang(en) {
    color: rgb(98, 88, 12);
}

#texto>cite::after {
    content: "J.K Rowling";
    color: rgb(0, 0, 0);
    font-size: 3vh;
}

#cajaAnimacion {
    position: relative;
    float: left;
    width: 96VW;
    padding-top: 4vw;
    padding-bottom: 3vh;
}

#cajaAnimacion>p {
    position: relative;
    width: 72vw;
    float: left;
    font-family: snitch;
    font-size: 6vh;
    animation-name: pajaritos;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes pajaritos {
    0% {
        left: 0px;
        top: 0px;
    }
    25% {
        left: 7vw;
        top: 2vw;
    }
    50% {
        left: 14vw;
        top: 0vw;
    }
    100% {
        left: 23vw;
        top: 2vw;
    }
}

@font-face {
    font-family: how;
    src: url(../fuentes/Hogwwb__.TTF);
}

@font-face {
    font-family: letraCuerpo;
    src: url(../fuentes/Sublime-Regular.ttf);
}

@font-face {
    font-family: snitch;
    src: url(../fuentes/JLR\ Snitch.ttf);
}

@media all and (min-width: 768px) {
    /* Estilos para anchos
superiores a 768px */
    section {
        width: 97vw;
        margin-top: 1vw;
    }
    article {
        width: 97vw;
    }
    #galeria {
        width: 46vw;
        height: 50vw;
        margin-left: 1vw;
        margin-top: 1vw;
        margin-right: 2vw;
        background-color: rgb(0, 0, 0);
        border: 3px dotted rgb(255, 255, 255);
        box-sizing: border-box;
    }
    #galeria>img {
        width: 22vw;
        margin-left: 10vw;
        margin-top: 8.5vw;
    }
    #texto {
        font-family: letraCuerpo;
        width: 90vw;
        text-align: justify;
        text-indent: 1vw;
        line-height: 3vw;
        word-wrap: break-word;
        font-size: 2vw;
    }
    #texto>span {
        font-size: 4vw;
    }
    #texto>p::first-letter {
        font-size: 4vw;
    }
    #texto>cite::after {
        content: "J.K Rowling";
        color: rgb(0, 0, 0);
        font-size: 3vw;
    }
    #cajaAnimacion {
        position: relative;
        float: left;
        width: 96VW;
        padding-top: 2vw;
        padding-bottom: 2vw;
    }
    @keyframes pajaritos {
        0% {
            left: 0px;
            top: 0px;
        }
        25% {
            left: 9vw;
            top: 2vw;
        }
        50% {
            left: 18vw;
            top: 0vw;
        }
        100% {
            left: 28vw;
            top: 2vw;
        }
    }
}

@media all and (min-width: 1024px) {
    /* Estilos para anchos
superiores a 1024px */
    section {
        width: 64vw;
    }
    article {
        width: 63vw;
    }
    #galeria {
        width: 20vw;
        height: 24vw;
        margin-left: 0vw;
        margin-top: 1vw;
        margin-right: 1vw;
    }
    #galeria>img {
        width: 12vw;
        margin-left: 3vw;
        margin-top: 2.5vw;
    }
    #texto {
        width: 62vw;
        line-height: 2vw;
        font-size: 1vw;
        padding: 1.5vw 0vw 0vw 0.5vw;
    }
    #texto>span {
        font-size: 3vw;
    }
    #texto>p::first-letter {
        font-size: 3vw;
    }
    #texto>cite:lang(en) {
        font-size: 2vw;
    }
    #texto>cite::after {
        font-size: 2vw;
    }
    #cajaAnimacion {
        width: 67.5vw;
    }
    #cajaAnimacion>p {
        width: 51vw;
        font-size: 6vw;
    }
    @keyframes pajaritos {
        0% {
            left: 0px;
            top: 0px;
        }
        25% {
            left: 4vw;
            top: 1vw;
        }
        50% {
            left: 8vw;
            top: 0vw;
        }
        100% {
            left: 12vw;
            top: 1vw;
        }
    }
}